.top-left
{
	max-height:10%;
}

h1,h2
{
	text-align:center;
}

p,img
{
	margin-left:300px;
	margin-right:300px;
}

/* Left side bar style */
.top-left {
    position:absolute;
    left:70px; right:0; top:180px;
    height: 250px;
	margin-right:78%;
	background-color:lightgrey;
}
.left {
    position:absolute;
    left:70px; top:280px;
    width: 200px;
}

.down-left {
	position:absolute;
	left:70px; top: 310px;
	width: 200px;
}

.downdown-left {
	position:absolute;
	left:70px; top: 340px;
	width: 200px;
}


/* Right side bar style */
.top-right {
    position:absolute;
    left:0; right:3%; top:180px;
    height: 270px; width: 240px;
	margin-left:78%;
	border-color:lightgrey;
	border-width:8px;
	border-style:solid;
	border-radius:15px;
}

a {
	font-family:Georgia, "Arial Narrow", sans-serif;
	color:black;
	font-size:15;
}

.a-left
{
	margin-left:8%;
}

.a-right
{
	margin-left:2%;
}

#logo
{
	margin-left:27%;
	margin-right:-27%;
}

#afg-map
{
	margin-bottom:1%;
	margin-right:-28%;
	margin-left:28%;
}

#ash
{
	margin-left:30%;
	margin-right:-30%;
}

#world
{
	margin-left:26%;
	margin-right:-26%;
}

#MAZ
{
	margin-left:27%;
	margin-right:-27%;
}

#Long
{
	margin-top:-12%;
	margin-left:33%;
}

#BAM
{
	margin-left:110%;
}

#Valley
{
	margin-left:52%;
}

#left-img 
{
	position:absolute;
	left:160px; top: 520px;
	width: 200px;
}

#right-img 
{
	position:absolute;
	right:140px; top: 520px;
	width: 200px;
}

#right-img2
{
	position:absolute;
	right:140px; top: 10px;
	width: 200px;
}


#Ceremony
{
	margin-left:37%;
	margin-right:20%;
}

#INDIA
{
	margin-left:23%;
	margin-right:22%;
	margin-bottom:-1%;
}

#MAYORS
{
	margin-left:51%;
	margin-top:-50%;
}

h1,h2,p
{
	font-family:Georgia, "Arial Narrow", Sans-Serif;
}

p
{
	font-size:14pt;
}

#Night
{
	margin-left:73%;
}

#Masjid
{
	margin-left:70%;
}

#Mazar
{
	margin-left:55%;
}

#Mazar-night
{
	margin-left:73%;
}

#AP
{
	margin-left:75%;
}

#Munar
{
	margin-left:75%;
}

#Saff
{
	margin-left:69%;
}

#HeratSaff
{
	margin-left:55%;
}
	
.big
{
	font-size:16pt;
	margin-left:22px;
	margin-right:32px;
}
	
.big2
{
	margin-left:22px;
	margin-right:22px;
	font-size:16pt;
}
	
.small
{
	font-size:11pt;
	margin-left:10px;
	margin-right:20px;
}
	
