#num1
{
	margin-left:75%;
}

#num2
{
	margin-left:70%;
}


body
{
	text-align:center;
}

img
{
	margin-left:30%;
	margin-right:50%;
}

h1,h2
{
	text-align:center;
}

p
{
	margin-left:22%;
	margin-right:22%;
}

/* Left side bar style */
.top-left {
    position:absolute;
    left:5%; right:0; top:29%;
    height: 35%;
	margin-right:78%;
	background-color:lightgrey;
}
.left {
    position:absolute;
    left:5%; top:44%;
    width: 15%;
}

.down-left {
	position:absolute;
	left:5%; top: 48.5%;
	width: 15%;
}

.downdown-left {
	position:absolute;
	left:5%; top: 53%;
	width: 15%;
}


/* Right side bar style */
.top-right {
    position:absolute;
    left:0%; top:30%;
    height: 45%; width: 17%;
	margin-left:78%;
	border-color:lightgrey;
	border-width: 8px;
	border-style:solid;
	border-radius:15px;
}

a {
	font-family:Georgia, "Arial Narrow", sans-serif;
	color:black;
	font-size:15;
}

.a-left
{
	margin-left:8%;
}

.a-right
{
	margin-left:2%;
}

#logo
{
	margin-left:27%;
	margin-right:-27%;
}

#afg-map
{
	margin-bottom:1%;
	margin-right:-28%;
	margin-left:28%;
}

#ash
{
	margin-left:30%;
	margin-right:-30%;
}

#world
{
	margin-left:26%;
	margin-right:-26%;
}

#MAZ
{
	margin-left:27%;
	margin-right:-27%;
}

#Long
{
	margin-left:20%;
}

#BAM
{
	margin-left:110%;
}

#Valley
{
	margin-left:52%;
}

#left-img 
{
	position:absolute;
	left:160px; top: 520px;
	width: 200px;
}

#right-img 
{
	position:absolute;
	right:140px; top: 520px;
	width: 200px;
}

#Ceremony
{
	margin-left:20%;
	margin-right:20%;
}

#INDIA
{
	margin-left:80%;
	margin-right:40%;
}

#MAYORS
{
	margin-left:82%;
}

h1,h2,p
{
	font-family:Georgia, "Arial Narrow", Sans-Serif;
}

p
{
	font-size:14pt;
}

#Night
{
	margin-left:73%;
}

#Masjid
{
	margin-left:70%;
}

#Mazar
{
	margin-left:55%;
}

#Mazar-night
{
	margin-left:73%;
}

.bar-head
{
	font-size:16pt;
}

#AP
{
	margin-left:75%;
}

#Munar
{
	margin-left:75%;
}

#Saff
{
	margin-left:69%;
}

#HeratSaff
{
	margin-left:55%;
}
	
.big
{
	font-size:14pt;
}
	
.small
{
	font-size:11pt;
	margin-left:2%;
}
	

